.Div {
    background-color: #272e47;
    border: solid 5px #3d4b7e;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    max-width: 50vw;
    color: #a99ae3;
    border-radius: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    transform: translate(50%, 5%);
    font-family: lexend;
}

.Input {
    height: 2.5vw;
    border-radius: 20px;
    border: solid #7c63dd;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 5px;
    font-family: lexend;
    background-color: #7263af;
    color: #272e47;
    transition-duration: 0.2s;
}

.Input:hover {
    border: solid aliceblue;
    box-shadow: 2px 2px 10px #7263af, -2px -2px 10px #7263af;
}


.Desplegable {
     background-color: #7263af;
    font-size: 30px;
    font-family: lexend;
    color: #272e47;
    border-radius: 20px;
    text-align: center;
    border: solid #7c63dd;
    transition-duration: 0.2s;
}

.Desplegable:hover {
    border: solid aliceblue;
    box-shadow: 2px 2px 10px #7263af, -2px -2px 10px #7263af;
}

.Desplegable:active {
    border: solid white;
}

.Button {
    height: 40px;
    border-radius: 20px;
    max-width: 18vw;
    width: 15vw;
    margin-left: 34%;
    font-size: 20px;
    font-family: lexend;
    border: solid #7c63dd;
    background-color: #7263af;
    color: #272e47;
    transition-duration: 0.2S;
}

.Button:hover {
    cursor: pointer;
    border: solid aliceblue;
    transform: scale(1.1);
    box-shadow: 5px 5px 17px #453680, -5px -5px 17px #453680;
}

.Button:active {
    cursor: pointer;
    transform: scale(0.9);
}



.H4 {
    font-size: 20px;
    background: linear-gradient(#a99ae3, #5931f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.H2 {
    font-size: 30px;
    background: linear-gradient(#a99ae3, #5931f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.Cs {
 display: flex;
 height: 3em;
 width: 120px;
 align-items: center;
 justify-content: center;
 background-color: #ff4b4b4b;
 border-radius: 3px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
    background: #d41c1c;
    background: linear-gradient(rgba(212, 28, 28, 1) 0%, rgba(235, 52, 149, 1) 100%);
 margin: 17px;
 font-weight: bold;
 font-size: 15px;
 color: aliceblue;
}

.Cs:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #ffffff;
    box-shadow: 4px 4px 35px #c44c7e, -4px -4px 35px #c44c7e;
}

.Cs:active {
    transform: scale(0.9);
}