.modal {
    background-color: #272e47;
    border: solid 5px #3d4b7e;
    font-family: lexend;
    padding: 20px;
    text-align: center;
    max-width: 40vw;
    height: 20vw;
    border-radius: 20px;
    font-size: 35px;
    transform: translate(75%, 60%);
}

.overlay {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overlay h1 {
    margin-top: 1vh;
    background: linear-gradient(#a99ae3, #5931f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.Button {
    background: #d41c1c;
    background: linear-gradient(rgba(212, 28, 28, 1) 0%, rgba(235, 52, 149, 1) 100%);
    color: aliceblue;
    padding: 10px;
    border-radius: 3px;
    border: none;
    font-size: 25px;
    font-family: lexend;
    margin-top: 40px;
    font-weight: bold;
    transition-duration: 0.2s;
}

.Button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #ffffff;
   box-shadow: 4px 4px 35px #c44c7e, -4px -4px 35px #c44c7e;
}

.Button:active {
    transform: scale(0.9);
}