@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.Div {
    background-color: #272e47;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    max-width: 30vw;
    color: #a99ae3;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    transform: translate(115%, 30%);
    font-family: lexend;
}

.Input {
    height: 2.5vw;
    border-radius: 20px;
    background-color: #a99ae3;
    border: solid #a99ae3;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 5px;
    font-family: lexend;
    color: #272e47;
    transition-duration: 0.2s;
}

.Input:hover {
    border: solid aliceblue;
}

.H4 {
    font-size: 20px;
}

.H2 {
    font-size: 30px;
}

.Button {
    height: 40px;
    border-radius: 20px;
    max-width: 18vw;
    width: 15vw;
    margin-left: 23%;
    font-size: 20px;
    font-family: lexend;
    background-color: #a99ae3;
    color: #272e47;
    border: solid #a99ae3;
    transition-duration: 0.2S;
}

.Button:hover {
    background-color: #272e47;
    color: #a99ae3;
    width: 18vw;
    margin-left: 18%;
}

.Button:active {
    border: solid white;
    color: white;
}

.YaCuenta {
    margin-top: -5%;
    height: 40px;
    border-radius: 20px;
    max-width: 18vw;
    width: 15vw;
    margin-left: 23%;
    font-size: 20px;
    font-family: lexend;
    background-color: #a99ae3;
    color: #272e47;
    border: solid #a99ae3;
    transition-duration: 0.2S;
}

.YaCuenta:hover {
    background-color: #272e47;
    color: #a99ae3;
    width: 18vw;
    margin-left: 18%;
}

.YaCuenta:active {
    border: solid white;
    color: white;
}