@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.Div {
    border: solid 5px #3d4b7e;
    background-color: #272e47;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    max-width: 30vw;
    color: #a99ae3;
    border-radius: 20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    transform: translate(115%, 20%);
    font-family: lexend;
}

.Input {
    height: 2.5vw;
    border-radius: 20px;
    background: radial-gradient(circle, #a99ae3, #7c63dd);
    border: solid #7c63dd;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    padding: 5px;
    font-family: lexend;
    color: #272e47;
    transition-duration: 0.2s;
}

.Input:hover {
    border: solid white;
    box-shadow: 2px 2px 10px #7263af, -2px -2px 10px #7263af;
}

.H4 {
    font-size: 20px;
    background: linear-gradient(#a99ae3, #5931f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.H2 {
    font-size: 30px;
    background: linear-gradient(#a99ae3, #5931f8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.Button {
    height: 40px;
    border-radius: 20px;
    max-width: 18vw;
    width: 15vw;
    margin-left: 23%;
    font-size: 20px;
    font-family: lexend;
    background: radial-gradient(circle, #a99ae3, #7c63dd);
    border: solid #7c63dd;
    color: #272e47;
    transition-duration: 0.2S;
}

.Button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 17px #453680, -5px -5px 17px #453680;
    border: solid aliceblue;
}

.Button:active {
    cursor: pointer;
    transform: scale(0.9);
}

.YaCuenta {
    margin-top: -5%;
    height: 40px;
    border-radius: 20px;
    max-width: 18vw;
    width: 15vw;
    margin-left: 23%;
    font-size: 20px;
    font-family: lexend;
    background: radial-gradient(circle, #a99ae3, #7c63dd);
    border: solid #7c63dd;
    color: #272e47;
    transition-duration: 0.2S;
}

.YaCuenta:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 17px #453680, -5px -5px 17px #453680;
    border: solid aliceblue;
}

.YaCuenta:active {
    cursor: pointer;
    transform: scale(0.9);
}